div {

  background:  linear-gradient(to right, #eee 0%, #eef calc(50% - 160px), transparent calc(50% - 30px), transparent calc(50% + 30px), #eef calc(50% + 160px), #eee 100%),
  url(https://storge.pic2.me/upload/299/5a9ee783c3f3a.jpg) no-repeat top center;
  
  height: 200px;
  width: 100%;
  }
